.app-container {
  display: flex;
  flex-direction: row;
  min-height: calc(100% - var(--header-height));
  max-height: calc(100% - var(--header-height));

  --sidebar-width: 180px;
}

.main-wrapper {
  width: 100%;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: calc(100% - 30px);

  img {
    margin-top: 20px;
    width: 500px;
  }
}

@media (max-width: 1024px) {
  .main-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
